secStyle2()
    background-color: #fbfbfb
    color: #999999
    text-align: center
.sec
    padding: 4.5em 0 2.5em 0
    background-color: #ffffff
    border-bottom: solid 2px #eeeeee
    +desktop-down()
        padding: 2em 1em 0.1em 1em
    &-inner
        margin-left: auto
        margin-right: auto
        max-width: 50em
    &-hd
        margin: 0 0 2.5em 0
        &:after
            border-bottom: solid 2px #e6e6e6
            display: block
            width: 4em
            margin: 2em auto 0 auto
            content: ' '
    &-stit
        font-size: 1.25em
        +tablet-down()
            font-size: 1em

.brands
    padding-bottom: 4.5em

.features
    secStyle2()
    &-list
        @extend .inline-list
        li
            padding: 0 2.5em 0 0
            color: #e0e0e0
            font-size: 2.75rem
            &:last-child
                padding-right: 0
            &.active
                color: $color-default

.alter
    display: flex
    align-items: center
    +mobile()
        flex-direction: column !important
    &-hd
        vhc-wrap()
    &-bd
        flex: 1
        > :last-child
            margin-bottom: 0
        +mobile()
            text-align: center !important
    &:nth-child(2n)
        flex-direction: row-reverse
        .alter-bd
            text-align: right
    
.spotlight
    @extend .alter
    border-top: solid 2px #eeeeee
    padding-top: 3em
    margin: 3em 0 0 0
    &:nth-child(2n)
        flex-direction: row-reverse
        .spotlight-bd
            text-align: right
        .spotlight-hd
            margin: 0 0 0 3em
    &:first-child
        border-top: 0
        margin-top: 0
        padding-top: 0
    &-hd
        width: 140px
        height: 140px
        box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e6e6e6
        border-radius: 100%
        margin: 0 3em 0 0
        overflow: hidden
        +mobile()
            margin: 0 0 2em !important
        img
            transition: all .3s ease
            max-width: 120px
        a
            border-bottom: none
            &:hover
                img
                    transform: scale(0.95)
    &-bd
        h3
            margin-top: 0

.specials
    secStyle2()
    &-list
        @extend .inline-list
        font-size: 1.2em
        text-align: center
        +tablet-down()
            font-size: 1em
        li
            margin: 0.8em 0
            padding: 0 1em 0
        .special
            vhc-wrap(flex-start)
        .icon-wrap
            color: #e0e0e0
            font-size: 14px
            margin-right: 0.5em
            width: 30px
            height: 30px
            line-height: 30px
            border: 1px solid #eee
            border-radius: 50%
        .label
            display: inline-block
            vertical-align: middle
            color: $color-grey