.header, .footer
    flex: none
.main
    flex: 1 0 auto
    +tablet-down()
        width: 100%
.article
    padding: 20px 0
    img
        max-width: 100%
    &-header
        padding-bottom: 20px
        a
            color: #444
    &-date
        color: #999
        text-decoration: none
        display: inline-block
        border-bottom: none
    &-content
        line-height: 1.6em
        color: #444
    .highlight, blockquote, dl, iframe, ol, ul, table, p
        margin: 1em 0

.archive-post
    padding: 1em 0
    border-top: 1px solid #e3e3e3
    &-link
        display: block
        color: #444
        text-decoration: none
        line-height: 1.6em
    &-title
        font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif
        float: left
        font-weight: 700
    &-date
        color: #999
        float: right
        font-size: .9em

.posts
    .post:not(:last-child)
        border-bottom: 1px solid #dcdcdc