@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
    font-family: "FZZhengHeiS";
    src: url("../fonts/FZZhengHeiS/FZZhengHeiS.eot");
    src: url("../fonts/FZZhengHeiS/FZZhengHeiS.eot?#iefix") format("embedded-opentype"),
         url("../fonts/FZZhengHeiS/FZZhengHeiS.woff") format("woff"),
         url("../fonts/FZZhengHeiS/FZZhengHeiS.ttf") format("truetype"),
         url("../fonts/FZZhengHeiS/FZZhengHeiS.svg#FZZhengHeiS") format("svg");
    font-style: normal;
    font-weight: normal;
}