.footer
    background-color: #4696e5
    padding: 4.5em 0 2.5em 0
    color: #fff
    text-align: center
    a
        color: #fff
    .icons
        @extend .inline-list
        font-size: 1.75em
        margin-bottom: 1em
        a
            border-bottom: none
    .copyright
        font-size: 0.8em
    .qrcode
        margin-bottom: 1.5em
        a
            border-bottom: none