.footer
    background-color: #434D63
    background-image: linear-gradient(-180deg, #3B3C40 0%, #434D63 100%)
    padding: 4.5em 0 2.5em 0
    color: #fff
    text-align: center
    a
        color: #fff
    .icons
        @extend .icon-list
        font-size: 1.75em
        margin-bottom: 1em
        a
            border-bottom: none
    .copyright
        font-size: 0.8em
    .qrcode
        margin-bottom: 1.5em
        a
            border-bottom: none
    +mobile()
        padding-top: 2.5em
        padding-bottom: 1em