.page-with-header
    padding-top: 50px
    display: flex
    flex-direction: column
.header
    a
        border-bottom: none
    .logo
        max-width: 36px
        border-radius: 50%
        transition: all .2s ease
        &:hover
            box-shadow: 0 0 1px #fff
    .navbar-brand
        padding-top: 7px