.icon-list
    cursor: default
    list-style: none
    padding-left: 0
    margin-bottom: 2em
    font-size: 1.2em
    text-align: center
    +tablet-down()
        font-size: 1em
    li
        display: inline-block
        padding: 0 0.8em 0
        margin: 0.8em 0
    .icon-item
        vhc-wrap(flex-start)
    .icon-wrap
        color: #e0e0e0
        font-size: 14px
        margin-right: 0.5em
        width: 30px
        height: 30px
        line-height: 30px
        border: 1px solid #eee
        border-radius: 50%
    .label
        display: inline-block
        vertical-align: middle
        color: $color-grey

.origin_cn
    background-image: url('../img/origin_cn.png');
    background-repeat: no-repeat;
    display: block;

.origin_cn-75team
    width: 240px;
    height: 240px;
    background-position: -5px -5px;

.origin_cn-75team_weekly
    width: 240px;
    height: 240px;
    background-position: -255px -5px;

.origin_cn-ali_mux
    width: 240px;
    height: 240px;
    background-position: -505px -5px;

.origin_cn-aliued
    width: 240px;
    height: 240px;
    background-position: -755px -5px;

.origin_cn-alloyteam
    width: 240px;
    height: 240px;
    background-position: -5px -255px;

.origin_cn-aotu
    width: 240px;
    height: 240px;
    background-position: -255px -255px;

.origin_cn-baidu_efe
    width: 240px;
    height: 240px;
    background-position: -505px -255px;

.origin_cn-baidu_eux
    width: 240px;
    height: 240px;
    background-position: -755px -255px;

.origin_cn-baidu_fex
    width: 240px;
    height: 240px;
    background-position: -5px -505px;

.origin_cn-baidu_mux
    width: 240px;
    height: 240px;
    background-position: -255px -505px;

.origin_cn-baidu_ued
    width: 240px;
    height: 240px;
    background-position: -505px -505px;

.origin_cn-cdc
    width: 240px;
    height: 240px;
    background-position: -755px -505px;

.origin_cn-ctrip_ued
    width: 240px;
    height: 240px;
    background-position: -5px -755px;

.origin_cn-isux
    width: 240px;
    height: 240px;
    background-position: -255px -755px;

.origin_cn-ixdc
    width: 240px;
    height: 240px;
    background-position: -505px -755px;

.origin_cn-jdc
    width: 240px;
    height: 240px;
    background-position: -755px -755px;

.origin_cn-taobao_fed
    width: 240px;
    height: 240px;
    background-position: -1005px -5px;

.origin_cn-tencent_mxd
    width: 240px;
    height: 240px;
    background-position: -1005px -255px;

.origin_cn-tgideas
    width: 240px;
    height: 240px;
    background-position: -1005px -505px;

.origin_cn-ui_cn
    width: 240px;
    height: 240px;
    background-position: -1005px -755px;

.origin_cn-uisdc
    width: 240px;
    height: 240px;
    background-position: -5px -1005px;

.origin_cn-uxren
    width: 240px;
    height: 240px;
    background-position: -255px -1005px;

.origin_en
    background-image: url('../img/origin_en.png');
    background-repeat: no-repeat;
    display: block;

.origin_en-codrops
    width: 240px;
    height: 240px;
    background-position: -5px -5px;

.origin_en-coligo
    width: 240px;
    height: 240px;
    background-position: -255px -5px;

.origin_en-css_tricks
    width: 240px;
    height: 240px;
    background-position: -505px -5px;

.origin_en-cssweekly
    width: 240px;
    height: 240px;
    background-position: -5px -255px;

.origin_en-frontend_dev_weekly
    width: 240px;
    height: 240px;
    background-position: -255px -255px;

.origin_en-google_web
    width: 240px;
    height: 240px;
    background-position: -505px -255px;

.origin_en-javascript_weekly
    width: 240px;
    height: 240px;
    background-position: -5px -505px;

.origin_en-smashing
    width: 240px;
    height: 240px;
    background-position: -255px -505px;

.origin_en-web_design_weekly
    width: 240px;
    height: 240px;
    background-position: -505px -505px;
