@import "nib"
@import "_base"

body
    background: #23232e
.tarot
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    &-hd
        height: 55px
        width: 100%
        box-shadow: 0 1px 4px rgba(0,0,0,.3)
        background-color: #000
        font-size: 18px
        line-height: 55px
        text-align: center
        color: #fff
    &-bd
        flex: 1
        position: relative


.mm-swiper
    position: absolute
    top:15px
    left:15px
    right: 15px
    bottom: 15px

.mm-slide
    background-position:center
    background-size:cover

.arr-left
    position: fixed
    right: 15px
    top: 50%
    z-index: 9998
    font-size: 20px
    color: #000
    margin-top: -14px
    visibility: hidden

.animate
    animation-iteration-count: infinite
    animation-fill-mode:both
    animation-duration:2s
    visibility: visible

.bounce-left
    animation-name: bounce-left 
    

@keyframes bounce-left {
	0%, 20%, 50%, 80%, 100% {transform: translateX(0);opacity: 1;}
	40% {transform: translateX(-30px);opacity: 0.3;}
	60% {transform: translateX(-15px);}
}