.sec
    &-style2
        text-align: center
    &-style1
        background-color: #fbfbfb
        color: #999999
        text-align: center
    padding: 4.5em 0 2.5em 0
    background-color: #ffffff
    border-bottom: solid 2px #eeeeee
    +desktop-down()
        padding: 2em 1em 0.1em 1em
    &-inner
        margin-left: auto
        margin-right: auto
        max-width: 50em
    &-hd
        margin: 0 0 2.5em 0
        text-align: center
        &:after
            border-bottom: solid 2px #e6e6e6
            display: block
            width: 4em
            margin: 2em auto 0 auto
            content: ' '
    &-stit
        font-size: 1.25em
        +tablet-down()
            font-size: 1em

.features
    padding-bottom: 4.5em

.brands
    margin: 0.8em 0
    display: flex
    flex-flow: row wrap

.alter
    display: flex
    align-items: center
    text-align: left
    +mobile()
        flex-direction: column !important
    &-hd
        vhc-wrap()
    &-bd
        flex: 1
        > :last-child
            margin-bottom: 0
        +mobile()
            text-align: center !important
    
.spotlight
    @extend .alter
    // border-top: solid 2px #eeeeee
    padding-top: 8em
    position: relative
    flex: 1
    flex-basis: 30%
    text-align: center
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3em;
    +tablet()
        flex-basis: 40%
        padding-left: 20px;
        padding-right: 20px;
    +tablet-down()
        flex-basis: 50%
    +mobile()
        flex-basis: 50%
        padding-top: 6em;
        padding-bottom: 1em;
    // margin: 3em 0 0 0
    // &:first-child
    //     border-top: 0
    //     margin-top: 0
    //     padding-top: 0
    &-hd
        // width: 140px
        // height: 140px
        box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e6e6e6
        border-radius: 8px
        // margin: 0 3em 0 0
        width: 120px;
        height: 120px;
        position: absolute;
        overflow: hidden
        position: absolute
        top: 60px;
        transform: translateX(-50%);
        left: 50%;
        +mobile()
            margin: 0 0 2em !important
            width: 72px;
            height: 72px;
            top: 35px;
        img
            transition: all .3s ease
            max-width: 120px
        a
            transform: scale(.5)
            position: absolute;
            border-bottom: none
            left: -50%;
            top: -50%;
            +mobile()
                transform: scale(.3)
                left: -120px * 0.7;
                top: -120px * 0.7;
            &:hover
                img
                    transform: scale(0.95)
    &-bd
        position: relative
        padding-top: 30px;
        max-width: 240px;
        margin: auto;
        top: 50px;
        +mobile()
            top: 0px;
        h3
            font-size: 20px;
            margin-top: 0
            +mobile()
                font-size: 16px;
        p
            font-size: 12px;

.copyrights
    padding-bottom: 270px
    background-image: url('../img/green.png')
    background-repeat: no-repeat
    background-position: center bottom
    border-bottom: none
    